.vscode/settings.json
.vscode/ipch/592cb0fa469e638d/NEURALNETWORK.ipch
.vscode/ipch/592cb0fa469e638d/mmap_address.bin
.vscode/ipch/fb4f032c72449d04/NEURALNETWORK.ipch
.vscode/ipch/fb4f032c72449d04/mmap_address.bin
